In [1]:
#Day 2 assignment of batch 7

In [3]:
# 1) List and its functions

In [4]:
l=["raju",20,'w',40.5,[1,2,3,4]]

In [5]:
l

['raju', 20, 'w', 40.5, [1, 2, 3, 4]]

In [7]:
l.append("raju")

In [8]:
l

['raju', 20, 'w', 40.5, [1, 2, 3, 4], 'raju']

In [12]:
l.copy()

['raju', 20, 'w', 40.5, [1, 2, 3, 4], 'raju']

In [13]:
l.reverse()

In [14]:
l

['raju', [1, 2, 3, 4], 40.5, 'w', 20, 'raju']

In [15]:
l.remove("raju")

In [16]:
l

[[1, 2, 3, 4], 40.5, 'w', 20, 'raju']

In [20]:
l[0][3]

4

In [25]:
l.pop(3)

20

In [26]:
l

[[1, 2, 3, 4], 40.5, 'w', 'raju']

In [34]:
l.clear

In [36]:
l

[[1, 2, 3, 4], 40.5, 'w', 'raju']

In [39]:
l.count('w')

1

In [50]:
l.extend("hira")

l

# dictionary

In [54]:
age={"20":"venkatesh","30":"sai kiran sir","22":"prashanth","60":"NBK"}

In [55]:
print(age)

{'20': 'venkatesh', '30': 'sai kiran sir', '22': 'prashanth', '60': 'NBK'}

In [60]:
age.keys()

dict_keys(['20', '30', '22', '60'])

In [61]:
age.items()

dict_items([('20', 'venkatesh'), ('30', 'sai kiran sir'), ('22', 'prashanth'), ('60', 'NBK')])

In [76]:
x=age.get("20")
print(x)

venkatesh

In [73]:
age

{'20': 'venkatesh', '30': 'sai kiran sir', '22': 'prashanth', '60': 'NBK'}

In [77]:
x

'venkatesh'

In [78]:
age.pop("22")

'prashanth'

In [79]:
age

{'20': 'venkatesh', '30': 'sai kiran sir', '60': 'NBK'}

In [82]:
age.update({"20":"venkat"})

In [83]:
age

{'20': 'venkat', '30': 'sai kiran sir', '60': 'NBK'}

In [84]:
age.values()

dict_values(['venkat', 'sai kiran sir', 'NBK'])

In [86]:
age.popitem()

('60', 'NBK')

In [88]:
age

{'20': 'venkat', '30': 'sai kiran sir'}

In [92]:
age.setdefault("k")

k

In [95]:
age

{'20': 'venkat', '30': 'sai kiran sir', '35': None, 'k': None}

In [96]:
age.clear()

In [97]:
age

{}

# 3)    sets and its functions

In [100]:
st={1,3,5,2,4,"ven","pra","pan","hotel",0,11,1,10}

In [101]:
st

{0, 1, 10, 11, 2, 3, 4, 5, 'hotel', 'pan', 'pra', 'ven'}

In [102]:
st.add("vishnu")

In [103]:
st

{0, 1, 10, 11, 2, 3, 4, 5, 'hotel', 'pan', 'pra', 'ven', 'vishnu'}

In [105]:
st.copy()

{0, 1, 10, 11, 2, 3, 4, 5, 'hotel', 'pan', 'pra', 'ven', 'vishnu'}

In [106]:
st2={1,2,0,3}

In [109]:
    st.issubset(st2)

False

In [110]:
st2.issubset(st)

True

In [111]:
st.difference(st2)

{10, 11, 4, 5, 'hotel', 'pan', 'pra', 'ven', 'vishnu'}

In [113]:
st3={"ramu ","sham","kali",0,1,6,7}

In [114]:
st.difference_update(st3)

In [115]:
st

{10, 11, 2, 3, 4, 5, 'hotel', 'pan', 'pra', 'ven', 'vishnu'}

In [116]:
st3

{0, 1, 6, 7, 'kali', 'ramu ', 'sham'}

In [117]:
st.isdisjoint(st3)

True

In [118]:
st.isdisjoint(st2)

False

In [119]:
st.issuperset(st3)

False

In [120]:
st.intersection(st3)

set()

In [121]:
set()

set()

In [122]:
st.intersection(st2)

{2, 3}

In [123]:
st.pop()

2

In [124]:
st.union(st3)

{0,
 1,
 10,
 11,
 3,
 4,
 5,
 6,
 7,
 'hotel',
 'kali',
 'pan',
 'pra',
 'ramu ',
 'sham',
 'ven',
 'vishnu'}

In [125]:
st.update(st3)

In [126]:
st

{0,
 1,
 10,
 11,
 3,
 4,
 5,
 6,
 7,
 'hotel',
 'kali',
 'pan',
 'pra',
 'ramu ',
 'sham',
 'ven',
 'vishnu'}

In [127]:
st3.remove()

TypeError: remove() takes exactly one argument (0 given)

In [128]:
st3.clear()

In [129]:
st3

set()

In [130]:
st2.clear()

In [131]:
st2

set()

In [134]:
st.remove(7)

In [135]:
st

{0,
 1,
 10,
 11,
 3,
 4,
 5,
 6,
 'hotel',
 'kali',
 'pan',
 'pra',
 'ramu ',
 'sham',
 'ven',
 'vishnu'}

# 4) tuple and its functions

In [141]:
tup=("venky","raju","rani",1,"true","false","maynot","false")

In [143]:
tup

('venky', 'raju', 'rani', 1, 'true', 'false', 'maynot', 'false')

In [139]:
tup.index(1)

3

In [142]:
tup.count("false")

2

In [144]:
tup.index("false")

5

# 5)String and its functions

In [145]:
str="letsupgrade.in"

In [146]:
str

'letsupgrade.in'

In [148]:
str.find('i')

12

In [154]:
str.index('i')

12

    str.

In [157]:
str.endswith(".")

False

In [158]:
str.isascii()

True

In [159]:
str.isdecimal()

False

In [160]:
str.capitalize()

'Letsupgrade.in'

In [161]:
str.upper()

'LETSUPGRADE.IN'

In [164]:
str.join('l')

'l'

In [165]:
str

'letsupgrade.in'

In [166]:
str.islower()

True

In [168]:
str.replace("lets","sai")

'saiupgrade.in'

In [169]:
str

'letsupgrade.in'

In [170]:
print("task completed")

task completed